/** 教程页面用到 **/

/** 所有容器元素的padding和border算在容器内部 **/
*,
*::before,
*::after {
    box-sizing: border-box
}

.doc-frame {
    display: flex;
    flex-wrap: wrap;
}

.doc-tree {
    padding: 0 0 0 1rem;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.doc-main {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.td-sidebar-nav {
    display: none;
    position: static;
}

.doc-tree #content-mobile {
    display: block
}

.td-sidebar-nav__section {
    padding-left: 0
}

.td-sidebar-nav__section li {
    list-style: none
}

.td-sidebar-nav__section ul {
    padding: 0;
    margin: 0
}

.td-sidebar-nav .td-sidebar-link {
    display: block;
    padding-bottom: .375rem
}

.td-sidebar-nav .tree-root {
    font-weight: 700;
    color: #30638e;
    border-bottom: 1px #30638e solid;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}

.td-sidebar-nav a.active {
    font-weight: 700
}

@media(min-width:680px) {
    .doc-tree {
        flex: 0 0 20%;
        max-width: 20%;
        border-right: 1px solid #dee2e6
    }

    .doc-main {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .td-sidebar-nav {
        display: block;
        position: sticky;
        top: 3.5rem;
        height: calc(100vh - 3.5rem);
        overflow-y: auto
    }
    
    .doc-tree #content-mobile {
        display: none
    }

    .td-sidebar-nav__section .ul-1 ul {
        padding-left: 1.5em
    }
}


/** 以下为页面内容css **/
