<div id="content-mobile">
  <button class="fas fa-bars" type="button" onclick="var nav = document.getElementById('td-section-nav'); nav.style.display = (nav.style.display == 'block') ? 'none' : 'block' ">
  </button>
</div>
<nav class="td-sidebar-nav" id="td-section-nav">
  <ul class="td-sidebar-nav__section">
    {{ template "section-tree-nav-section" (dict "page" . "section" .Site.Home "ulNr" 0) }}
  </ul>
</nav>

{{ define "section-tree-nav-section" -}}
{{ $s := .section -}}
{{ $p := .page -}}
{{ $treeRoot := cond (eq .ulNr 0) true false -}}
{{ $ulNr := .ulNr -}}
{{ $active := and (eq $s $p) -}}
{{ $pages := where (union $s.Pages $s.Sections).ByWeight ".Params.toc_hide" "!=" true -}}
{{ $withChild := gt (len $pages) 0 -}}
<li>
  <a href="{{ $s.RelPermalink }}" title="{{ $s.Title }}" class="td-sidebar-link{{ if $active}} active{{ end }}{{ if $treeRoot }} tree-root{{ end }}"><span>{{ $s.LinkTitle }}</span></a>
  {{- if $withChild }}
  {{- $ulNr := add $ulNr 1 }}
  <ul {{ if (eq $ulNr 1)}} class="ul-1" {{end}}>
    {{ range $pages -}}
    {{ template "section-tree-nav-section" (dict "page" $p "section" . "ulNr" $ulNr) }}
    {{- end }}
  </ul>
  {{- end }}
</li>
{{- end }}